html, body {
    height: 100%;
    margin: 0;
}

.containBody {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-panel {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    /*background-size: contain;*/
    background-size: 76% 100%;
}

/*.main-panel img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: contain;*/
/*    display: block;*/
/*}*/

.menu-panel {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    /*background-color: rgba(255,255,255,0.8);*/
    display: flex;
    /*flex-direction: column;*/
    /*justify-conte nt: center;*/
    /*align-items: center;*/
}

#top-menu {
    width: 100%;
}

.main-context {
    display: flex;
    width: 76%;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;;
}

.head-photo {
    width: 40px; /* 设置头像的宽度 */
    height: 40px; /* 设置头像的高度 */
    border-radius: 50%; /* 设置圆角为50%，实现圆形效果 */
    object-fit: cover; /* 确保图片内容在保持纵横比的同时填充元素的整个内容框 */
    border: 2px solid #ccc; /* 可选：添加边框 */
    margin-left: 10px;
}

.head-photo2 {
    width: 80px; /* 设置头像的宽度 */
    height: 80px; /* 设置头像的高度 */
    border-radius: 50%; /* 设置圆角为50%，实现圆形效果 */
    object-fit: cover; /* 确保图片内容在保持纵横比的同时填充元素的整个内容框 */
    border: 2px solid #ccc; /* 可选：添加边框 */
}

.head-photo3 {
    width: 30px; /* 设置头像的宽度 */
    height: 30px; /* 设置头像的高度 */
    border-radius: 50%; /* 设置圆角为50%，实现圆形效果 */
    object-fit: cover; /* 确保图片内容在保持纵横比的同时填充元素的整个内容框 */
    border: 2px solid #ccc; /* 可选：添加边框 */
}

.article{
    width: 80%;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 10px #888888;
    display: flex;
    /*align-items: center;*/
}

.arthur{
    height: 150px;
    /*border-bottom: 1px solid #495057;*/
    /*background-color: #e3e3e3;*/
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}
.ul-arthur{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-arthur li{
    list-style: none;
}

.li-head-photo{

}

.li-name{

}

.content{
    width: 100%;
    padding: 10px;
}

.detail{
    min-height: 300px;
    position: relative;
}

.detail p{
    margin: 0;
}

.detail img {
    max-width: 100%;
    max-height: 100%;
}

.comment{
    width: 100%;
    /*padding: 10px 0px;*/
    background-color: #e3e3e3;
    border-radius: 10px;
}

.comment-detail-panel{
    display: flex;
    flex-direction: column;
}

.comment-iDetail{
    display: flex;
    align-items: center;
    padding: 0px 8px;
    position: relative;
}

.comment-action-panel{
    display: flex;
    justify-content: right;
    align-items: center;
}

.comment-time{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #888888;
    font-size: 13px;
}

.comment-action{
    margin-right: 10px;
    height: auto; /* 设置高度 */
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
    color: #888888;
    font-size: 13px;
    /* 其他样式，例如圆角、边框等 */

}

.comment-button-panel{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.comment-text{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.comment-button-panel input{
    /*height: 30px;*/
    font-size: 13px;
    padding: 4px;
    height: 30px;
    margin-right: 8px;
}